

<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <button  type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
      <mat-toolbar>Menu </mat-toolbar>
    </button>
      <mat-nav-list >
        <a mat-list-item  style="color:#ffffff"> PROFIL</a>
        <a mat-list-item style="color:#ffffff" routerLinkActive="active" [routerLink]="['/','admin','users']">UTILISATEURS</a>
        <a mat-list-item style="color:#ffffff" [routerLink]="['/','admin','profil_sorties']">PROFILS DE SORTIE</a>
        <a mat-list-item [routerLink]="['/','admin','competences']">COMPETENCES</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="display: flex;justify-content: space-between;align-items: center;background-color:  #008e8e;color: #ffffff;">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span><button  type="button"
                       aria-label="Toggle sidenav"
                       mat-icon-button
                       (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></span>
      <span> GESTION DES PROFILS DE SORTIES</span>
      <mat-card-actions  >
        <button mat-flat-button mat-button (click)="loggout()"> Deconnecter </button>
      </mat-card-actions>
      </mat-toolbar>
      <!-- Add Content Here -->


      <div [style.width]='pourcent' style="margin: auto; font-weight: bold;">
        <mat-toolbar-row style="margin: 2vh auto 0;">
            <button mat-raised-button class="btn btn-success" (click)="onCreateProfilSortie()">
              <mat-icon >add</mat-icon> Ajouter un nouveau profil de Sortie
            </button>
        </mat-toolbar-row>
        <app-add-profil-sortie (closePS)="onAddClosed()" *ngIf="addProfilSortie">
        </app-add-profil-sortie>
        <app-edit-profil-sortie [editDataPS]="editDataSend" (closedPS)="onEditClosed()" *ngIf="editProfilSortie"></app-edit-profil-sortie>
    <table style=" width: 100%; margin:0 auto;background-color:#008e8e;color: #ffffff;" mat-table matSort [dataSource]="datasource" class="mat-elevation-z8">
      <!-- Position Column --> 
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="libelle_profil">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Libelle </th>
        <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.libelleProfil}} </td>
      </ng-container>
    
      <!-- Archive Column -->
      <ng-container matColumnDef="archive">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Archive </th>
        <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.archive}} </td>
      </ng-container>
    
      <!-- Edit Column-->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button style="background-color: #f88c0a;" (click)="onEditProfilSortie(row)">Editer</button>
        </td>
      </ng-container>
    
      <!--Delete Column-->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef><mat-icon>delete_outline</mat-icon></th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button style="background-color: #f88c0a;" (click)="onDeleteProfilSortie(row)">Supprimer </button>
        </td>
      </ng-container>

       <!--Details Column-->
       <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef><mat-icon>delete_outline</mat-icon></th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button style="background-color: #f88c0a;" (click)="onDeleteProfilSortie(row)">Supprimer </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
                  [pageSize]="2"
                  [pageSizeOptions]="[2, 10, 25, 100]">
    </mat-paginator>
    </div>
    




      <!---->
</mat-sidenav-content>
</mat-sidenav-container>
  
  
      