<div style="width: 50%;float: left;">
 <mat-toolbar style="font-size:0.7vw;margin: 0;background-color:#cacfd2;">
   <mat-toolbar-row >
      <span class="example-spacer">EDITER PROFIL</span>
   <button class="btn-dialog-close" style="font-size:1vw;background-color: #2b2d42;color: #ffffff;" mat-stroked-button #closed (click)='onClose()' tabIndex='-1'>Fermer<mat-icon>clear</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
 <form #loginFormulaire="ngForm">
    <label for="libelle" style="width: 100%;text-align: center;margin: 0;font-size: 1vw;">
       Libelle
    </label>
    <input text required ngModel name="libelle" type="text" [(ngModel)]="editData.libelle" class="form-control" id="libelle">
    <br>
    <button [disabled]="loginFormulaire.invalid" style="width: 100%;" class="btn btn-success" (click)="put(loginFormulaire,editData)">
        Soumettre
     </button>
 </form>
</div>
 <div style="width: 50%;float: right;">
   <div class="card text-center">
      <div class="card-header" style="background-color: #cacfd2;">
        Details
      </div>
      <div class="card-body">
        <h5 class="card-title">Identification: {{editData.id}}</h5>
        <p class="card-text">Description Libelle <strong>{{editData.libelle}}</strong></p>
        <h5> Archive:
        <a class="btn btn-primary  disabled"> {{editData.archive}}</a>
      </h5>
      </div>
    </div>
</div>
<div class="card text-center card-header" style="width: 100%;margin: 0;">
   Modification d'un profil
</div>