.main-div{
    padding: 0px;
}
.login-form{
    padding: 20px;
}
.sidenav-container {
    height: 100%;
  }
  mat-nav-list a {
    color: #ffffff;
  }
  .sidenav {
    width: 15vw;
    background-color: #2b2d42;
    
  }
  .sidenav .mat-toolbar {
    background: inherit;
    color: #ffffff;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
    border: 1px solid grey;
    text-align: center;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  input[type="file"] {
    display:none;
}
  
  