<div class="container">
    <button mat-raised-button class="btn btn-success"> <mat-icon>add</mat-icon>Ajouter un groupe de competence </button>  
<hr>
<mat-card style="background-color: #cacfd2">    
      <mat-chip-list  class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip style="background-color: #2b2d42;;justify-content: space-between;align-items: center;width: 100%;" fxFlex="100" selected color="primary">
          <img style=" float:left;width: 4vw;height: 4vw; border-radius: 50px;" src="assets/image/001.jpeg">
          Liste de groupes de competences
          <mat-chip fxFlex="30" selected style="background-color: #cacfd2;">
                <input type="text" style="width:100%"
                     placeholder="Search for a street"
                     [formControl]="control"
                     [matAutocomplete]="auto">
                     <mat-icon>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                  {{street}}
                </mat-option>
              </mat-autocomplete>                  
          </mat-chip>   
        </mat-chip> 
      </mat-chip-list>
</mat-card>
      <mat-card class="example-card">
        
        <section style="width:100%;overflow:auto;margin: 0 auto;"  >

          <section style="width: 33%;float: left;" *ngFor="let grpComp of groupCompetences; let i=index">
          <mat-card fxFlex="100" >
            <mat-card style="background-color: #85929e;">
               {{grpComp.libelle}} {{i}}
              <mat-icon (click)="deleteGroupComp(grpComp)" style="float: right;cursor: pointer;">clear</mat-icon>
              <mat-icon (click)="modifyGroupComp(grpComp)" style="float: right;cursor: pointer;">create</mat-icon> 
            </mat-card>
            <mat-card >
                <textarea style="height: 15vh;width: 100%;" type="text"> {{grpComp.descriptif}} </textarea>
            </mat-card>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #cacfd2;padding: 0;"  hideToggle >
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    Competences
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list *ngFor="let element of  grpComp.competences; let last=last">
                    <mat-divider></mat-divider>
                    <mat-list-item style="background-color: red;display: flex;align-items: center;justify-content: center;cursor: pointer;">{{element.libelle}}</mat-list-item>
                    <mat-divider *ngIf="last"></mat-divider>
                </mat-list>
              </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="color: #ffffff;">
                      Tags
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p> This is the primary content of the panel.</p>
                </mat-expansion-panel>
                </mat-accordion>
          </mat-card>
        </section>
          <!-- <br *ngIf="(indexTS+1)%4"> -->
        </section>
       
        <!-- <mat-card fxFlex="50">
          <mat-card style="background-color: #85929e;">
            JavaScript
            <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
            <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
          </mat-card>
          <mat-card >
              <input style="height: 15vh;width: 100%;" type="text">
          </mat-card>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Competences
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: #ffffff;">
                    Tags
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              </mat-accordion>
        </mat-card>
        <mat-card fxFlex="50">
          <mat-card style="background-color: #85929e;">
            PHP
            <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
          <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
          </mat-card>
          <mat-card >
              <input style="height: 15vh;width: 100%;" type="text">
          </mat-card>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Competences
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: #ffffff;">
                    Tags
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              </mat-accordion>
        </mat-card>
        <mat-card fxFlex="50">
          <mat-card style="background-color: #85929e;">
            JAVA
            <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
            <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
          </mat-card>
          <mat-card >
              <input style="height: 15vh;width: 100%;" type="text">
          </mat-card>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Competences
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: #ffffff;">
                    Tags
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              </mat-accordion>
        </mat-card> -->



      <!-- <section style="width:100%">
        <mat-card fxFlex="50">
          <mat-card style="background-color: #85929e;width: 100%;justify-content: space-between;align-items: center;">
            FLUTTER
         <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
         <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
          </mat-card>
          <mat-card >
              <input style="height: 15vh;width: 100%;" type="text">
          </mat-card>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Competences
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: #ffffff;">
                    Tags
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              </mat-accordion>
        </mat-card>
      <mat-card fxFlex="50">
        <mat-card style="background-color: #85929e;">
            AJAX
          <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
          <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
        </mat-card>
        <mat-card >
            <input style="height: 15vh;width: 100%;" type="text">
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
            <mat-expansion-panel-header >
              <mat-panel-title>
                Competences
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff;">
                  Tags
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
      </mat-card>
      <mat-card fxFlex="50">
        <mat-card style="background-color: #85929e;">
          Symfony
          <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
          <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
        </mat-card>
        <mat-card >
            <input style="height: 15vh;width: 100%;" type="text">
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
            <mat-expansion-panel-header >
              <mat-panel-title>
                Competences
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff;">
                  Tags
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
      </mat-card>
      <mat-card fxFlex="50">
        <mat-card style="background-color: #85929e;">
          Angular
          <mat-icon style="float: right;cursor: pointer;">clear</mat-icon>
          <mat-icon style="float: right;cursor: pointer;">create</mat-icon> 
        </mat-card>
        <mat-card >
            <input style="height: 15vh;width: 100%;" type="text">
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel style="background-color: #cacfd2;" hideToggle >
            <mat-expansion-panel-header >
              <mat-panel-title>
                Competences
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff;">
                  Tags
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            </mat-accordion>
      </mat-card>
    </section> -->
      <br>
        <mat-card-actions style="margin:0 auto; text-align: center;width: 70%;" class="btn btn-success">
          <button mat-button>Soumettre</button>
        </mat-card-actions>
      </mat-card>
</div>