<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/','admin','profils']"> GESTION PROFIL</a>
      <a mat-list-item >GESTION UTILISATEURS</a>
      <a mat-list-item [routerLink]="['/','admin','profil_sorties']">PROFIL DE SORTIE</a>
      <a mat-list-item [routerLink]="['/','admin','competences']">COMPETENCES</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  style="display: flex;justify-content: space-between;align-items: center;background-color: #008e8e;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> <button  type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button></span>
    <span> Gestion des Users</span>
    <mat-card-actions align="end" style="float: right;" >
      <button mat-flat-button mat-button style="background-color: #f88c0a;" (click)="loggout()"> Deconnecter </button>
    </mat-card-actions>
    </mat-toolbar>
    <!-- Add Content Here -->

 

  <!--div style="float: right; width: 25%;height: 80vh;background-color: red;">
    <app-add-profil></app-add-profil>
  </div-->
  <div style="margin: 2vw auto;width: 80%;font-weight: bold;background-color: #f88c0a;">
    <button mat-raised-button (click)="onAddUser()">
      <mat-icon color="primary">add</mat-icon> Ajouter un nouveau profil
    </button>
  <table style=" width: 100%; margin:0 auto;background-color:#008e8e;color: #ffffff;" mat-table matSort [dataSource]="datasource" class="mat-elevation-z8">
    
    
    <!-- Position Column --> 
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.id}} </td>
    </ng-container>

    <!-- Position Column --> 
    <ng-container matColumnDef="photo">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Photo. </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> <img style="width: 2vw;height: 2vw; border-radius: 50px;" [src]="(transform(element.photo))"> </td>
    </ng-container>
  
    <!-- Prenom Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Prenom </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.prenom}} </td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.nom}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.email}} </td>
    </ng-container>

    <!-- Profil Column -->
    <ng-container matColumnDef="profil">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Profil </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.profil.libelle}} </td>
    </ng-container>
  
    <!-- Archive Column -->
    <ng-container matColumnDef="archive">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Archive </th>
      <td mat-cell *matCellDef="let element" style="color: #ffffff;"> {{element.archive}} </td>
    </ng-container>
  
    <!-- Edit Column-->
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button style="background-color: #f88c0a;font-size: 0.5vw;padding:0%;overflow:hidden;border: 2px solid #ffffff;" (click)="onEditUser(row)">Edit </button>
      </td>
    </ng-container>
  
    <!--Delete Column-->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button style="background-color: #f88c0a;font-size: 0.5vw;padding:0%;overflow:hidden;border: 2px solid #ffffff;" (click)="onDeleteUser(row)">Delete </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
                [pageSize]="2"
                [pageSizeOptions]="[2, 10, 25, 100]">
  </mat-paginator>
  </div>