<div class="container" >
<form [formGroup]="promoForm" (ngSubmit)="addPromo()">
<mat-card style="background-color: #cacfd2">    
      <mat-chip-list  class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip style="background-color: #2b2d42;justify-content: space-between;align-items: center;width: 100%;" fxFlex="100" selected color="primary">
          <img style=" float:left;width: 4vw;height: 4vw; border-radius: 50px;" src="assets/image/001.jpeg">
          Creation d'une Promotion
          <mat-chip fxFlex="30" selected style="background-color: #cacfd2;">
              <mat-form-field>
                <mat-label>Selectionner un referentiel</mat-label>
                <mat-select formControlName="referentiel" required>
                  <mat-option>Choisir un referentiel</mat-option>
                  <mat-option *ngFor="let referentiel of referentiels" [value]="referentiel.id">
                          {{referentiel.libelle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </mat-chip>   
        </mat-chip> 
      </mat-chip-list>
</mat-card>
<mat-card class="example-card" style="background-color: #cacfd2;">
 
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Choix de la langue</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
               <mat-form-field style="width: 70%;">
                  <mat-label>Choisir une des langues</mat-label>
                  <mat-select formControlName="langue" required>
                    <mat-option>Choisir une langue</mat-option>
                    <mat-option *ngFor="let langue of langues" [value]="langue.name">
                      {{langue.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Titre</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
               <mat-form-field style="width: 70%;">
                  <mat-label>Descriptif Groupe de competences</mat-label>
                  <input matInput placeholder="Donnez un titre"  formControlName="titre">
              </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Description de la Promotion</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
               <mat-form-field style="width: 70%;">
                  <mat-label>Descriptif Groupe de competences</mat-label>
                  <input matInput placeholder="Donnez une description" formControlName="description" >
              </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Lieu de la Promotion</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
               <mat-form-field style="width: 70%;">
                  <mat-label>Lieu</mat-label>
                  <input matInput placeholder="Lieu de la Promo" formControlName="lieu">
              </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Reference Agate</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
               <mat-form-field style="width: 70%;">
                  <mat-label>Reference Agate</mat-label>
                  <input matInput placeholder="Donner une réference Agate" formControlName="referenceAgate">
              </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="25" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Choix de la Fabrique</span> 
        </mat-card>
      <mat-card fxFlex="75" style="justify-content: space-between;width: 60%;float:right;">
       
        <mat-form-field>
          <mat-label>Choiir une fabrique</mat-label>
          <mat-select formControlName="fabrique" required>
            <mat-option *ngFor="let fabrique of fabriques " [value]="fabrique.libelle">
              {{fabrique.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </section>
    <hr>
    <section  >
        <mat-card fxFlex="15" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
             <span>Date Debut</span> 
        </mat-card>
      <mat-card fxFlex="35" style="justify-content: space-between;width: 60%;float:right;">
        <mat-form-field style="width: 70%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="pickerDebut" formControlName="dateDebut">
            <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
            <mat-datepicker #pickerDebut></mat-datepicker>
          </mat-form-field>
      </mat-card>
      <mat-card fxFlex="15" style="font-size: 1vw;font-weight: bold;display: flex;align-items: center;justify-content: center;width: 20%;background-color: #85929e;">       
        <span>Date FIN</span> 
   </mat-card>
 <mat-card fxFlex="35" style="justify-content: space-between;width: 60%;float:right;">
         <mat-form-field style="width: 70%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateFin">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
 </mat-card>
    </section>
    <hr>
      <mat-chip-list  class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip style="justify-self: center;display: flex;background-color: #2b2d42;width: 70%;margin: 0 auto;" selected>
              <span style="margin: 0 auto;">Descriptif</span> 
        </mat-chip> 
    </mat-chip-list>
    <br>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
         
          <mat-chip-list aria-label="Fish selection">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button *ngFor="let competence of competences"  [value]="competence.id">
                <mat-chip color="warn">{{competence.libelle}}</mat-chip>
              </mat-radio-button>
            </mat-radio-group>              
          </mat-chip-list>
          
        </mat-expansion-panel>
      </mat-accordion> 
    <br>
    <mat-card>
      <ngx-dropzone (change)="onSelect($event)" accept=".jpeg, .png">

        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      
        </ngx-dropzone-preview>
      
      </ngx-dropzone>
    </mat-card>
    <hr>
    <section>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ajouter de nouveaux apprenants
            </mat-panel-title>
            <mat-panel-description>
              Cliquer pour {{panelOpenState ? 'fermer' : 'ouvrir'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
         
        
            <section style="width: 100%;">
              <mat-chip-list>
                  <mat-chip class="btn btn-success" style="justify-self:center;display:flex;margin: 0 auto;width:50%;" color="primary" selected>
                    <label for="file-upload" style="width: 100%;margin: 0;cursor:pointer;">
                 <span style="margin: 0 auto;"> CHarger un fichier excel</span> </label>      
                  <!-- <input id="file-upload" type="file" accept=".xlsx, .xls, .csv, .ods" formControlName="excelFile"  (change)="handleFileInput($events.target.files)"/> -->
                  <input id="file-upload" type="file" accept=".xlsx, .xls, .csv, .ods" formControlName="excelFile"  (change)="handleFileInput($event)"/>
                  </mat-chip>
            </mat-chip-list>
            </section>
            <br>
            <section style="width: 100%;">
              <mat-card fxFlex="50">
                <label>Format: nom@domain.com</label><br>
                <span>Adresse email</span>
                <br>
                <textarea style="width: 100%;">

                </textarea>
            </mat-card>
            <mat-card fxFlex="50">
              <section>Liste des apprenants</section>
              <table style="width: 100%;border: 1px solid #000000;">
                <tr>
                <th>Apprenants en attentes</th>
                <th>Relancer toutes les invitations</th>
              </tr>
              <tr *ngFor="let app_attente of apprenants_attente">
                <td>{{app_attente.email}}</td>
                <td>
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip style="cursor: pointer;margin: 0 auto;font-size: 0.8vw;margin: 2vh auto;" color="primary" selected> Relancer l'invitation</mat-chip>
                  </mat-chip-list>
                </td>
              </tr>
             

              </table>

          </mat-card>
            </section>
          
        </mat-expansion-panel>
      </mat-accordion>
    </section>
    <mat-divider></mat-divider>
    <button type="submit" [disabled]="promoForm.invalid" style="width: 100%;background-color:#2b2d42;color: #ffffff;" class="btn">
       Ajouter
    </button>
  
    </mat-card>
  </form>
</div>