<mat-card class="example-card">
        
    <section style="width:100%;overflow:auto;margin: 0 auto;"  >

      <!-- <section style="width: 33%;float: left;" *ngFor="let grpComp of groupCompetences; let i=index"> -->
     <section style="width: 33%;float: left;" *ngFor="let ref of referentiels; let i=index">
      <mat-card fxFlex="100" >
        <mat-card style="background-color: #85929e;">
           {{ref.libelle}} {{i}}
          <mat-icon  style="float: right;cursor: pointer;">clear</mat-icon>
          <mat-icon  style="float: right;cursor: pointer;">create</mat-icon> 
        </mat-card>
        <mat-card >
            <textarea style="height: 15vh;width: 100%;" type="text"> {{ref.presentation}} </textarea>
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel style="background-color: #cacfd2;padding: 0;"  hideToggle >
            <mat-expansion-panel-header >
              <mat-panel-title>
                Groupe de competences
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <mat-list *ngFor="let element of  grpComp.competences; let last=last"> -->
            <mat-list *ngFor="let element of  referentiels[i].groupeCompetences; let last=last">
                <mat-divider></mat-divider>
                <mat-list-item style="background-color: #85929e;display: flex;align-items: center;justify-content: center;cursor: pointer;">{{element.libelle}}</mat-list-item>
                <mat-divider *ngIf="last"></mat-divider>
                <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff;">
                  Programme
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="accent" (clik)="open_programme(ref.programme)" selected>Ouvrir programme</mat-chip>
                </mat-chip-list>
                 <button (click)="transform(ref.programme)" target="_blank">gcjcgc</button>
                 <iframe [src]="selectedFileBLOB"></iframe>
                <!--iframe  width="100" height="600" type='application/pdf'></iframe-->   
              </p>
            </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel style="background-color: #cacfd2;" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Critère d'évaluation
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p> 
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip  *ngFor="let evaluation of referentiels[i].criteresReferentiels"  color="accent" selected>
                      <span *ngIf="evaluation.type==='evaluation'">{{evaluation.libelle}}</span> 
                    </mat-chip>
                  </mat-chip-list>
                </p>
              </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel style="background-color: #2b2d42;" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="color: #ffffff;">
                      Critère d'admission
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p> 
                    <mat-chip-list  aria-label="Fish selection">
                      <mat-chip *ngFor="let admission of referentiels[i].criteresReferentiels" color="accent" selected>
                        <span *ngIf="admission.type==='admission'">{{admission.libelle}}</span>
                      </mat-chip>
                    </mat-chip-list>
                  </p>
                </mat-expansion-panel>
                </mat-accordion>
      </mat-card>
    </section>
    </section>
  </mat-card>