<div style="width: 50%;float: left;">
    <mat-toolbar style="font-size:0.7vw;margin: 0;background-color:#008e8e;">
    <mat-toolbar-row style="margin: 0;">
       <span class="example-spacer">AJOUTER UN NOUVEAU PROFIL</span>
       <button class="btn-dialog-close" style="background-color: #f88c0a;" #closePS mat-stroked-button (click)="onClose()" tabIndex='-1'>Fermer<mat-icon>clear</mat-icon></button>
    </mat-toolbar-row>
    </mat-toolbar>
    <form #loginFormulaire="ngForm">
       <label for="libelleProfil">
          Libelle
       </label>
       <mat-divider></mat-divider>
       <input text required ngModel name="libelleProfil" type="text" class="form-control" id="libelleProfil">
       <mat-divider></mat-divider>
       <button [disabled]="loginFormulaire.invalid" style="width: 100%;" class="btn btn-primary" (click)="post(loginFormulaire)">
          Ajouter
       </button>
    </form>
    </div>
    <div style="width: 50%;float: right;">
       <div class="card text-center">
          <div class="card-header" style="background-color: #008e8e;">
            Details
          </div>
          <div class="card-body">
            <h5 class="card-title">Identification:</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="card text-center card-header" style="width: 100%;margin: 0;">
       Profil Add Part
    </div>